@font-face {
    font-family: 'ring';
    src: url("ringbearer.TTF") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'tang';
    src: url("tngan.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-image: url('fondo/fondo.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: "ring", sans-serif;
    color: rgb(0, 0, 0);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
    margin: 0 auto;
}
.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    transition: all 400ms ease-in-out;
    overflow: hidden;
    padding-bottom: 20px;
}
.card img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
.card figure{
    height: 400px;
}
.card figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.titulo{
    font-family: "ring", sans-serif;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    margin-top: 50px;  
}
