/* ========== Estilos Generales ========== */

/* ========== Página Kingdoms ========== */
body.kingdoms {
    background-image: url(imagenes/fondito.png);
}

h1 {
    align-items: center; 
    color: #e6d48f;
}

/* ========== Navegación ========== */
header {
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

img {
    width: 90px;
}

/* ========== Reino: Menzoberranzan ========== */
#menzoberranzan {
    color: #e6d48f;
}

/* ========== Reino: Alfheim ========== */
#alfheim {
    color: #e6d48f;
}

/* ========== Reino: Valinor ========== */
#valinor {
    color: #e6d48f;
}