
@font-face {
    font-family: 'Ringbearer';
    src: url('fonts/ringbearer.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Tngan';
    src: url('fonts/tngan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    min-height: 1vh;
    background-image: url('fondo/fondo2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #1c1b1a;
    font-family: 'Ringbearer', serif;
}
.container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding: 20px 0;
    margin: 80px auto 40px;
}
.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    transition: all 400ms ease-in-out;
    overflow: hidden;
    padding-bottom: 20px;
}
.card img {
    width: 400px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
.card figure{
    height: 400px;
}
.card figure img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.card:hover{
    transform: translateY(-10%);
    cursor: pointer;
}

/* Aura azul - Elfo Primordial */
.card:nth-child(1):hover {
    box-shadow: 
        0 0 15px #89d2f6,
        0 0 30px #59889f,
        0 0 45px #253942;
    background-color: #6c8b9837;
}

/* Aura verde - Elfo de Bosque */
.card:nth-child(2):hover {
    box-shadow: 
        0 0 15px #92f0b1,
        0 0 30px #508c62,
        0 0 45px #274630;
    background-color: #00441137;
}

/* Aura morada - Elfo del Vacío */
.card:nth-child(3):hover {
    box-shadow: 
        0 0 15px #cc83f0,
        0 0 30px #86579d,
        0 0 45px #402a4b;
    background-color: #3b116537;
}

header {
    font-family: 'Ringbearer', serif;
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
    background: #64410055;
    color: #000000;
    text-shadow: 0 0 20px #fbff00b7; 
}

h1, h2 {
    color: lch(0% 0 0);
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.37);
}
a {
    color: rgb(0, 0, 0);
}

/* Enlaces en la tarjeta 1 - Primordial */
.card:nth-child(1) a:hover {
    color: #89d2f6;
    text-shadow: 0 0 10px #89d2f6;
}

/* Enlaces en la tarjeta 2 - Bosque */
.card:nth-child(2) a:hover {
    color: #92f0b1;
    text-shadow: 0 0 10px #92f0b1;
}

/* Enlaces en la tarjeta 3 - Vacío */
.card:nth-child(3) a:hover {
    color: #cc83f0;
    text-shadow: 0 0 10px #cc83f0; 
}