
body {
    background-image: url(imagenes/fondito.png);

}

h1 {
    align-items: center; 
    color: e6d48f;
}

img{
    width: 90px;
}


header {
    display: flex;
    align-items: center; 
    justify-content: space-between;

}

section{
    color: e6d48f;
}