@font-face {
    font-family: "Tengwar Annatar";
    src: url("./fonts/tngan.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Morris Roman";
    src: url("./fonts/morris-roman.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body{
    background-color:#E2F2DB ;
    font-family: "Morris Roman", serif ;
}
h1_code{
    font-family: "Tengwar Annatar", serif;
}