*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-image: url('fondo/fondo.png'); /* Reemplaza 'img/mi-imagen.jpg' con la ruta correcta */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    color: rgb(0, 0, 0); /* Opcional: cambia el color del texto para que sea visible sobre la imagen */
}
body {
    width: 100%;
    min-height:100 vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: 80%;
    display: flex;
    justify-content: center;
    gap: 60px;
    padding:20px 0;
}
.card {
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    transition: all 400ms ease-in-out;
    overflow: hidden;
    padding-bottom: 20px;
}
.card img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
}
.card figure{
    height: 200px;
}
.card figure img{
    height: 100%;
    width: 100%;
    object-fit: cover
}
 .card:hover{
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
 }